<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring/spring-application-*.xml"/>

    <!-- 静态spring容器 -->
    <bean id="springContextHolder" class="com.shiro.common.framework.spring.SpringContextHolder"/>
</beans>